# ignore other hidden files
.*

# ignore program cache folder
cache

# ignore test folder which used for exercise
test

# ingore the config file
config.py

# ignore python cache files
*/__pycache__
__pycache__

# ignore outpu result path
result

# ignore program output
nohup.out
run.log

# ignore pyc files
*.pyc
